@model IEnumerable<WebApplication1.Models.CarroModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fabricação)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preço)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fabricação)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preço)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = (Model as List<CarroModel>).IndexOf(item) }) |
                @Html.ActionLink("Details", "Details", new { id = (Model as List<CarroModel>).IndexOf(item) }) |
                @Html.ActionLink("Delete", "Delete", new { id = (Model as List<CarroModel>).IndexOf(item) })
            </td>
        </tr>
}
    </tbody>
</table>
